*.DS_Store*
*__pycache__*
node_modules/*
.vscode/*
package-lock.json
*.spec
starlette_bokeh_server/build/*
starlette_bokeh_server_dist/*
dashboard-linux-x64/*
dashboard-darwin-x64/*
dashboard-win32-x64/*
